.header_pic{
	height: 80px;
	background-color: #FBFBFB;
	background: url(../../img/titleBanner.jpg) center no-repeat;
	background-size:100% 100%;
}
.header_user{
	height: 32px;
	line-height: 32px;
	background-color: #EEEEEE; /*//缺颜色*/
	border-bottom: 1px solid #CCCCCC;
}
.header_alink{
	margin-left: 20px;
	display: inline-block;
}
.header_alink a{
	text-decoration: none;
	font-size: 14px;
	color:gray;
	font-weight:bold
}
.header_alink a:hover{
	color: orangered;
}
.header_user span{
	font-size: 16px;
}
.header_user_left{
	margin-left: 80px;
}
.header_user_right{
	margin-right: 80px;
}
.user_name{
	font-weight:bold;	
}