.load_title{
	color: #266097;
	height:90px;
	background-color:#EFEFEF;
	font-family:"方正姚体";
	
}
.load_title h1{
	margin-top: 20px;
	margin-left: 30px;
}
.load_body{
	background-color: #1393D4;
	
}
.body_content{
	height: 500px;
	width:100%;
	background: url(../../img/1024-2.jpg) no-repeat;
	background-size: cover;
}
.load_body_right{
	padding:20px;
	height: 380px;
	width: 350px;
	border-radius: 5px;	
	background: rgba(0,0,0,0.25);
	color: white;
	float: right;
	margin-right: 5%;
	margin-top:4%;
	
}
.load_form{
	height:320px;
	display:block;
}
.load_form label{
	margin-bottom:0;
	height: 28px;
	line-height: 28px;
	/* margin-top: 10px; */
}
.check_code{
	
}
.check_code span{
	height: 28px;
	line-height: 28px;
	margin-top: 10px;
}
.check_code_left{
	width: 46%;
	float: left;
}
.check_code_right{
	width: 46%;
	border: 1px solid white;
	height: 35px;
	float: right;
}
.check_code_right img{
	width: 100%;
	
}
.sub_btn{
	margin-top: 20px;
}
.sub_btn button{
	margin: 10px 0;
}
.sub_btn a{
	color: white;
}
.sub_btn a:hover{
	color: deepskyblue;
}
.foot{
	font-size:12px;
	background-color:#EFEFEF;
	height:80px;
	padding-top:20px;
}
.foot .info{
	text-align:center;
	
}
