<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mf.mapper.UnitMapper" >
  <resultMap id="BaseResultMap" type="com.mf.domain.Unit" >
    <id column="unitId" property="unitid" jdbcType="VARCHAR" />
    <result column="upUnitId" property="upunitid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="contect" property="contect" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    unitId, upUnitId, name, address, contect, phone, grade
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from unit
    where unitId = #{unitid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from unit
    where unitId = #{unitid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mf.domain.Unit" >
    insert into unit (unitId, upUnitId, name, 
      address, contect, phone, 
      grade)
    values (#{unitid,jdbcType=VARCHAR}, #{upunitid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{contect,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{grade,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mf.domain.Unit" >
    insert into unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="unitid != null" >
        unitId,
      </if>
      <if test="upunitid != null" >
        upUnitId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="contect != null" >
        contect,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="grade != null" >
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="unitid != null" >
        #{unitid,jdbcType=VARCHAR},
      </if>
      <if test="upunitid != null" >
        #{upunitid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contect != null" >
        #{contect,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mf.domain.Unit" >
    update unit
    <set >
      <if test="upunitid != null" >
        upUnitId = #{upunitid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contect != null" >
        contect = #{contect,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
    </set>
    where unitId = #{unitid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mf.domain.Unit" >
    update unit
    set upUnitId = #{upunitid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      contect = #{contect,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER}
    where unitId = #{unitid,jdbcType=VARCHAR}
  </update>
</mapper>