<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mf.mapper.UserroleMapper" >
  <resultMap id="BaseResultMap" type="com.mf.domain.UserroleKey" >
    <id column="employeeId" property="employeeid" jdbcType="VARCHAR" />
    <id column="roleId" property="roleid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.mf.domain.UserroleKey" >
    delete from userrole
    where employeeId = #{employeeid,jdbcType=VARCHAR}
      and roleId = #{roleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mf.domain.UserroleKey" >
    insert into userrole (employeeId, roleId)
    values (#{employeeid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mf.domain.UserroleKey" >
    insert into userrole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="employeeid != null" >
        employeeId,
      </if>
      <if test="roleid != null" >
        roleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="employeeid != null" >
        #{employeeid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>